











.jumbotron {
	padding-top: 100px;
	height: 400px;
	background-color: #FF7960;
	border-radius: 0.0rem;
}


h1, h2, h3, h4, h5, h6 {
	color: white;
}







#search-form {
	margin:0px;
}

#result-summary{
	margin-bottom:20px;
}

html{
	overflow-y: scroll;
} /*force scrollbar*/


.facet {
	 margin-left: 0px;
	width: 60vw;
	margin-bottom:20px; overflow: hidden;
}

.nav-title{
	text-transform:uppercase;font-weight:bold}

.entry{
	margin-bottom: 10px;
}


body {
	margin: 0;
}

nav {
	background-color: #FF7960;
}

nav a {
		color: white;
}


.footer {
	 margin: 5px;
	 padding-top: 5px;
}

.form-center {
	margin: 0 auto;
}

body {
	background-color: #f2f2f2;
}

a {
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-right: 5px;
}

em {
	color: tomato;
}


#solrstrap-searchbox {
	min-width: 320px;
	max-width: 400px;
	height: 50px;
	margin: 0px auto;
	margin-top: 40px;
	padding-right: 0;
	border-radius: .25rem;
}

#result-summary {
	 color: tomato;
	font-size: 20px;
}

input[type="text"], textarea {

  background-color : white;
	color: black;
	font-size: 24px;

}


#solrstrap-facets {
	width: 80vw;
	min-height: 100px;
	float: left;
	margin-left: 1vw;
	color: #3A62B2;
}

#solrstrap-facets a {
	color: white;
	background-color: #3A62B2;
	border: 1px solid white;
	padding-left: 4px;
	padding-right: 4px;
}

#solrstrap-hits {
	margin: 5px;
	margin-bottom: 50px;
	padding: 2vw;
	width: 80vw;
	min-height: 500px;
	background-color: white;
	float: left;
	border-radius: .25rem;
	border: 2px tomato solid;
	color: black;
}

#solrstrap-hits a {
	font-size: 20px;
	color: #3A62B2;
	font-weight: bold;
}

.card-body {
	min-width: 320px;
	max-width: 400px;
	background-color: #FF7960;
}

.footer {
	margin: 0px;
	margin-bottom: 50px;
}

.card {
	margin: 0px 0px 5px 0px;
	border: 2px white solid;
	background-color: #FF7960;
}

.close {
	 float: left;
	 font-size: 1.4rem;
	 font-weight: 900;
	 line-height: 1;
	 color: #FF7960;
	text-shadow: none;
	opacity: 0.5;
}

.card-text {
	color: white;
}
