











.jumbotron {
	padding-top: 100px;
	height: 400px;
}


h1, h2, h3, h4, h5, h6 {
	color: white;
}







#search-form {
	margin:0px;
}

#result-summary{
	margin-bottom:20px;
}

html{
	overflow-y: scroll;
} /*force scrollbar*/


.facet {
	 margin-left: 0px;
	width: 60vw;
	margin-bottom:20px; overflow: hidden;
}

.nav-title{
	text-transform:uppercase;font-weight:bold}

.entry{
	margin-bottom: 10px;
}


body {
	margin: 0;
}

nav {
	background-color: #00879E;
}

nav a {
		color: #fdf7ef;
}


.footer {
	 margin: 5px;
	 background-color: #00879E;
	 padding-top: 5px;
}

.form-center {
	margin: 0 auto;
}

body {
	background-color: #00879E;
}

a {
	color: #fdf7ef;
	font-size: 15px;
	font-weight: bold;
	margin-right: 5px;
}

em {
	color: #fdf7ef;
	font-weight: bold;
	opacity: 0.5;
}


#solrstrap-searchbox {
	min-width: 320px;
	max-width: 400px;
	height: 50px;
	margin: 0px auto;
	margin-top: 40px;
	padding-right: 0;
	border-radius: .25rem;
	border: 2px #005B6B solid;
}

#result-summary {
	 color: #005B6B;
	font-weight: bold;
	font-size: 24px;
}

input[type="text"], textarea {

  background-color : #fdf7ef;
	color: #005B6B;
	font-size: 24px;

}


#solrstrap-facets {
	background-color: #349CAE;
	width: 80vw;
	min-height: 100px;
	margin: 5px;
	float: left;
	padding: 2vw;
	border-radius: .25rem;
	color: #005B6B;
	border: 2px #005B6B solid;
}

#solrstrap-facets a {
	color: #fdf7ef;
}

#solrstrap-hits {
	margin: 5px;
	margin-bottom: 50px;
	padding: 2vw;
	width: 80vw;
	min-height: 500px;
	background-color: #349CAE;
	float: left;
	border-radius: .25rem;
	border: 2px #005B6B solid;
}

#solrstrap-hits a {
	font-size: 20px;
	color: #fdf7ef;
	font-weight: bold;
}

.card-body {
	min-width: 320px;
	max-width: 400px;
	background-color: #349CAE;
}

.footer {
	margin: 0px;
	margin-bottom: 50px;
}

.card {
	margin: 0px 0px 5px 0px;
	border: 2px #005B6B solid;
	background-color: #349CAE;
}

.close {
	 float: left;
	 font-size: 1.4rem;
	 font-weight: 900;
	 line-height: 1;
	 color: red;
	text-shadow: none;
	opacity: 1;
}
