#search-form {
	margin:0px;
}

#result-summary{
	margin-bottom:20px;
}

html{
	overflow-y: scroll;
} /*force scrollbar*/

.facet, .chosen-facet{
	 margin-bottom:20px; overflow: hidden; white-space: nowrap;
}

.nav-title{
	text-transform:uppercase;font-weight:bold}

.entry{
	margin-bottom: 10px;
}


body {
	margin: 0;
}

nav {
	background-color: #00879E;
}

nav a {
		color: white;
}

.facet {
	 float: left;
	 margin-left: 5vw;
}

.facet a {
	 float: left;
}

.footer {
	 margin: 5px;
	 background-color: #00879E;
	 padding-top: 5px;
}

.form-center {
	margin: 0 auto;
}

body {
	background-color: #00879E;
}

a {
	color: #3FD2EA;
	font-size: 15px;
}

em {
	color: #00879E;
	font-weight: bolder;
}


#solrstrap-searchbox {
	min-width: 320px;
	max-width: 400px;
	height: 40px;
	margin: 0px auto;
	padding-right: 0;
	border-radius: .25rem;
}




#solrstrap-facets {
	background-color: #00879E;
	width: 90vw;
	min-height: 100px;
	margin: 5px;
	float: left;
	padding: 5px;
	border-radius: .25rem;
	color: white;
}

#solrstrap-hits {
	margin: 5px;
	margin-bottom: 50px;
	padding: 5px;
	width: 90vw;
	min-height: 500px;
	background-color: white;
	float: left;
	border-radius: .25rem;
}

.card-body {
	min-width: 320px;
	max-width: 400px;
	background-color: white;
}

.footer {
	margin: 0px;
	margin-bottom: 50px;
}

.card {
	margin: 0px 0px 5px 0px;
}
